
div.container {
    left: 0;
    right: 0;
    background-color: lightgrey;
    position: absolute;
    bottom: 0px;

    border: 2px solid lightgrey;
    border-bottom: hidden;
    margin-right: 140px;
    margin-left: 140px;
    margin-bottom: 0px;

    
}

header {
background: lightgrey;
color: black;
margin-left: 2.5em;


}

ul {
    list-style-type: none;
    margin: 5%;
    padding: 0%;
    overflow: hidden;
    background-color: rgb(94, 124, 124);
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li#jmp {
    float: left;
    background-color: rgb(161, 75, 150);
    margin-left: 2.5em;
    
}



#pix {
    float: left;
    max-width: auto;
    margin: 2px;
    padding: 2em;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: black;
    padding: 1em;
    overflow: hidden;
}

footer {
    padding-top: 0em;
    color: white;
    background-color: rgb(43, 39, 39);
    clear: left;
    text-align: center;
    
}