html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0 auto 0 auto;
    background-image: url("http://www.commentnation.com/backgrounds/images/light_gray_parchment_paper_seamless_pattern.jpg");
    position: relative;
    overflow-x: hidden;
    background-size: auto;
    
    
}

/*this is my header*/
header {

    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
}

#container {
    padding: 15px;
}


/*This is my NavBar-float right*/
nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
list-style-type: none;
margin: 0 10px 0 10px;
padding: 0%;
overflow: hidden;
background-color: white;

}

nav li {
    display: inline-block;
    float: right; /*ABOUT PORFOLIO CONTACTS */
    
    
    
}

nav li a {
    display: block;
    padding: 14px;
    text-decoration: none;
    

}

/*This is my name  top left, float-left*/
nav li#jmp {
    float: left;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 18px white;
    margin-left: 2.5px;

}



 
/*tried to float left didn't work*/
#bio {
    width: 960px;
    margin: 0 auto 0 auto;
    background-color: #ffffff
    
}

/*This is "About Me"*/
h1 {
    width: 960px;
    background-color: #ffffff;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
    margin: 45px auto 25px auto;
    border-bottom: 2px solid #cccccc; 
   }

img {
    float: left;
    margin: 10px;
}

#para {
    float: left;
    width: 75%;
    margin: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    border-top:  10px solid #4aaaa5;
    padding: 25px;
    background-color: #666666;
    font: 14px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    
}

/* form contacts--------------------------------------------- */
form {
    align-content: center;
    margin: auto;
    width: 200px;
}

input {
    width: auto;
}



.formcontainer {
    border-radius: 5px;
    background-color: #cccccc;
    padding: 10px;
    width: 200px;
}

