
html {
    height: vh;

}

body {
    min-height: 100%;
    position: relative;
border: 10px solid black;

}

/*this is my header*/
header {

    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;

}

/*This is my container within my header*/
.container {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: 2px #777777;
    
    }

/*This is my NavBar-float right*/
nav {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
list-style-type: none;
margin: 5%;
padding: 0%;
overflow: hidden;
background-color: white;
color: black;
}

nav li {
    display: inline-block;
    color: black;
    
    
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;

}

/*This is my name float-left*/
nav li#jmp {
    float: left;
    background-color: #4aaaa5;
    margin-left: 2.5em;

}

/*This is my Bio*/
#content{

    float: left;
    
 }

/*This is "About Me"*/
h1 {
 background-color: white;
 color: #4aaaa5;
 font-family: Arial, Helvetica, sans-serif;
 padding: 3px;
 margin-top: 15px;
 
}


#image{

    float: left;
}

#main{

    float: left;
    font-family: Arial, Helvetica, sans-serif;

}


/*footer, i can't get my top border to work*/
footer {
font-family: Arial, Helvetica, sans-serif;
position: absolute;
bottom: 0;
width: 100%;
background-color: #666666;
border-top-color: #4aaaa5;
padding: 35px 0 10px 0;
color:white;
text-align: center;
}